@media screen and (max-width: 1440px) and (min-width: 1024px) {
    /* Laptop Responsivenss */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(45deg, #A18276, #AAC0AA);
        color: #736372;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 26rem;
        width: 20rem;
        background: #dceed134;
        border-radius: 15px;
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 1rem;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;
    }

    .title-box {
        margin-top: 0.5rem;
        font-size: 2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    .form-box {
        height: 100%;
        width: 100%;
        text-align: left;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin: 1.25rem 0;
        cursor: text;
    }
    
    .username-box,
    .password-box {
        height: 50%;
    }
    .username-box {
        position: relative;
    }
    .input-title-final {
        font-size: 1.3rem;
        margin-left: 0.3rem;
        margin-bottom: 0.2rem;
        position: relative;
        top: 0;
        left: 0;
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
    }
    .input-title-initial {
        font-size: 1rem;
        position: relative;
        top: 50%;
        left: 4%;
        transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
    }
    
    .form-box input {
        width: 100%;
        height: 80%;
        background: transparent;
        border-color: transparent;
        border-bottom: 1px solid black;
        color: #114B5F;
        padding-left: 0.8rem;
        font-size: 1rem;
        outline: none;
    }
    .form-box > div {
        margin: 0 0.7rem;
    }
    .password-box {
        position: relative;
    }
    .eye {
        position: absolute;
        height: 1.1rem;
        right: 0.5rem;
        top: 2.5rem;
        cursor: pointer;
        display: none;
    }

    #submit {
        height: 52%;
        width: 60%;
        justify-self: center;
        font-size: 1.5rem;
        border-radius: 50px;
        border-width: 1px;
        background: transparent;
        cursor: pointer;
        font-family: cursive;
        font-weight: bold;
        color: #000000c7;
        transition: font-size 0.2s ease-in-out 0.1s;
    }
    #submit:hover {
        font-size: 1.7rem;
    }
    #submit:not(:hover) {
        font-size: 1.5rem;
    }

    .other-box button div {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        justify-self: center;
    }
    .other-box button img {
        height: 1.5rem;
    }
    .other-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .other-box button {
        font-size: 1.1rem;
        width: 85%;
        height: 80%;
        align-self: center;
        justify-self: center;
        cursor: pointer;
        background: #736372;
        color: #E4FDE1;
        border-width: 1px;
        border-radius: 1px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: border-radius 0.3s ease-in-out, transform 0.1s ease-in-out;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media screen and (max-width: 768px) {
    /* Mobile Responsivenss */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(45deg, #A18276, #AAC0AA);
        color: #736372;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 30rem;
        width: 20rem;
        background: #dceed134;
        border-radius: 15px;
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 1rem;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;
    }

    .title-box {
        margin-top: 0.5rem;
        font-size: 2rem;
    }

    .form-box {
        height: 95%;
        width: 100%;
        text-align: left;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin: 1.8rem 0 0.5rem;
        cursor: text;
    }
    
    .username-box,
    .password-box {
        height: 50%;
        position: relative;
    }
    .input-title-final {
        font-size: 1.3rem;
        margin-left: 0.3rem;
        margin-bottom: 0.2rem;
        position: relative;
        top: 0;
        left: 0;
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
    }
    .input-title-initial {
        font-size: 1rem;
        position: relative;
        top: 50%;
        left: 4%;
        transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
    }
    
    .form-box input {
        width: 95%;
        height: 80%;
        background: transparent;
        border-color: transparent;
        border-bottom: 1px solid black;
        color: #114B5F;
        padding-left: 0.8rem;
        font-size: 1rem;
        outline: none;
    }
    .form-box > div {
        margin-left: 0.5rem;
    }
    
    .eye {
        position: absolute;
        height: 1.1rem;
        right: 1.4rem;
        top: 2.5rem;
        cursor: pointer;
        display: none;
    }

    #submit {
        height: 52%;
        width: 60%;
        justify-self: center;
        font-size: 1.5rem;
        border-radius: 50px;
        border-width: 1px;
        background: transparent;
        cursor: pointer;
        font-family: cursive;
        font-weight: bold;
        color: #000000c7;
        transition: font-size 0.2s ease-in-out 0.1s;
    }
    #submit:hover {
        font-size: 1.7rem;
    }
    #submit:not(:hover) {
        font-size: 1.5rem;
    }

    .other-box button div {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        align-self: center;
        margin-left: 0.7rem;
    }
    .other-box button img {
        height: 1.5rem;
    }
    .other-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .other-box button {
        font-size: 1.1rem;
        width: 85%;
        height: 80%;
        align-self: center;
        justify-self: center;
        display: flex;
        cursor: pointer;
        background: #736372;
        color: #E4FDE1;
        border-width: 1px;
        border-radius: 1px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: border-radius 0.3s ease-in-out, transform 0.1s ease-in-out;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}